<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог автомобилей</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>Каталог автомобилей</header>
    <div class="box">
        {{#each cars}}
            <div class="wrapper">
                <div class="model">{{ this.model}}</div>
                <div class="year">Год выпуска: {{ this.year }}</div>
                <img src="{{this.src}}" alt="">
            </div>
        {{/each}}
    </div>
</body>
</html>