<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#each users}}
        <p><strong>User ID: {{ this.id }}</strong></p>
        <ul class="wrapper">
            <li>Name: {{ this.name}}</li>
            <li>Login: {{ this.login}}</li>
            <li>Password: {{ this.password }}</li>
        </ul>
    {{/each}}
</body>
</html>